.primerasec{
    width: 100%;
    height: calc(100vh - 130px);
    background-image: url(../img/mesafondo2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h2{
    color: $color-secundario;
    font-size: 20px;
    text-align: center;
    border: 1px rgb(29, 23, 12) double;
    background-color:$color-primario;
    }

    p{
        color:$color-secundario;
        text-align: center;
        font-family: 'Cinzel', serif;
        font-size: 40px;
        margin: 50px 20px 20px 20px;
    }
    
    .since{
        font-size: 25px;
    }
}

.experienciacheesebar{
    .experienciatitulo h2 {
        color:$color-primario;
        font-size: 50px;
        background-color: $color-secundario;
        text-align: center;
        margin: 50px 0px 110px 0px;
    }
    .experiencia {
        display: flex;
        align-items: center;
    }
    .experiencia p {
        color: $color-primario;
        font-size: 23px;
        font-weight: 500;
        text-align: center;
        margin: 10px 40px 10px 40px;
        background-color: #cd863f28;
    }
    .experiencia img {
        width: 500px;
        height: 330px;
    }
}

.unqueso{
    h2 {
        color:$color-primario;
        font-size: 50px;
        font-weight: 50px;
        display: flex;
        justify-content: flex-start;
        margin: 100px 20px 10px 20px;
    }
.cardflex{
    height: 450px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: normal;
    display: flex;
    flex-wrap: wrap;

    h3 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: initial;
        color:$color-primario;
        font-size: 20px;
        font-weight: 5px;
    }
    img {
        height: 150px;
        width: 190px;
        margin-bottom: 20px;
        padding: 10px 5px 10px 5px;
    }
    div {
        width: 250px;
        height: 300px;
        border: 2pix solid $color-primario;
        text-align: center;
        background-color: $color-secundario;
        color: $color-primario;
        margin: 20px;
        display: inline-block;
        -webkit-box-shadow: -16px 14px 21px 0px rgba(0, 0, 0, 0.77);
        -moz-box-shadow: -16px 14px 21px 0px rgba(0, 0, 0, 0.77);
        box-shadow: -16px 14px 21px 0px rgba(0, 0, 0, 0.77);
}
}
}
.grid-galeria {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 350px 200px 250px;
    gap: 5px;
    margin: 300px 5px 20px 5px;
    padding: 50px 20px 20px 20px;

    .grid-galeria div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .img-0 {
        grid-column: 1/ span 3;
    }
    .img-3 {
        grid-row: span 2;
    }
}